asgiref==3.4.1
Django==3.2.7
html-testRunner==1.2.1
HTMLTestRunner-Python3==0.8.0
HTMLTestRunner-rv==1.0.15
Jinja2==3.0.1
MarkupSafe==2.0.1
Pillow==8.3.2
pyparsing==2.4.7
pytz==2021.1
selenium==3.141.0
sqlparse==0.4.2
urllib3==1.26.6
